.bg-image{
    height: 450px;
    width: 800px;
    background-image:url(../img/qi-bin-IIzny_Qgw-g-unsplash.jpg);
    background-size: cover;
    border-bottom:solid 2px #272838;
    cursor: pointer;

}

/* BENTOの説明 */
.content {
    position:relative;
    margin:30px auto 3px auto;
    width:250px;
    height:250px;
    overflow:hidden;   
}

.inner{    
    text-align: center;
    color:#272838;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
}

#mean{
    position: absolute;
      top:80px;
      left:20px;
      right:20px;

    margin: 0 auto;

}


.meaning{
    color: mintcream;
    text-align: center;
}


main{
    background-color:peachpuff;
    height: 1000px;
    width: 800px;
    border-bottom:solid 2px #272838;
    position: relative;
}


/* #record{
    color:#272838 ;
    text-align: center;
    font-size:14px;
} */

/* #record {
  width: 60px;
  height: 60px;
  background: #ffa500;
  border-radius: 50% ;
  cursor: pointer;
  margin: 20px;
  padding: 15px;
  border:solid 2px #272838; */
  /* position: absolute;
       top: 15px;
       left: 100px; */
/* } */
　
/* 
#box1{
    width: 300px;
} */

#form{
   width: 200px;
   margin: 10px;
   /* position: absolute;
      bottom:50px;
      left:50px; */
}

/* #image {
    display: inline-block;
    width: 150px;
    cursor: pointer; 
    padding-top: 13px;
    padding-right: 40px;
    line-height: 1; 
    text-align: center;
    background: #f18343; 
    color:#272838; 
    border-radius: 2.5em; 
    transition: 0.2s; 
    border:solid 2px #272838;
   
}  */


.btn_save{
    display: inline-block;


}

  /* ホバー時 */
  .upload-label:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */

  }
  /* inputは隠す */
  .upload-label input {
    display: none;
  }


.form-group{
    height: 300px;
 
}
  

/* #preview img {
    height: 250px;
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
    display: inline-block;
  } */


#save{
    background: #f18343; /* 背景色 */
    color: #272838; /* 文字色 */
    border-radius: 2.5em; /* 角の丸み */
    transition: 0.2s; /* ホバーをなめらかに */
    border:solid 2px #272838;
}


.specify{
    width:150px;
    height:150px;
    display: inline-block;
    background-color: cadetblue;
    border:solid 2px #272838;
    padding: 5px;
}

